<!-- SOBRE MI -->

<div class="div2">
  <h1>Aplicacion para registrar cosas</h1>
  <p>
    Cuando ya te allas registrado, entraras a la aplicacion en donde podes registrar tus cosas que necesites.
  </p>
  <p>
    Cada usuario registrado puede crear, editar, eliminar y obtener todas las cosas que haya almacenado.
  </p>
</div>

<div class="contenedor2">
  <div class="section row">
    <div class="div2 col-lg-9">
      <h1>Sobre Mi</h1>
      <hr>
      <ul>
        <li>
          <p class="parrafo">
            Hola me llamo Rocco Gironacci y actualmente me encuentro cursando el Full Stack Engineer de Educacion IT y
            Tecnicatura Universitaria en Programacion en Rosario, Santa Fe.


          </p>
        </li>
        <li>

          <p class="parrafo">
            Actualmente curso el Full Stack Engineer de Educacion IT y me gustaria terminarlo asi tengo mas conocimiento
            de lenguajes para el futuro.
          </p>
        </li>
      </ul>


    </div>
    <div class="div1  col-lg-3">
      <img style="border-radius: 20px" class="img-fluid" src="/imagenes/yo.jpg" alt="" />
    </div>
  </div>