<div class="caja-contacto">


<a target="_blank" href="https://www.instagram.com/rocco.gironacci/">
  <img
    id="instagram"
    style="margin:5px; width: 140px; height: 140px"
    src="/imagenes/instagram.jpg"
    alt="instagram imagen"
  />
</a>
<a target="_blank" href="https://www.facebook.com/rocco.gironacci/">
  <img
    id="facebook"
    style="margin:5px; width: 140px; height: 140px"
    src="/imagenes/facebook.jpg"
    alt="facebook imagen"
  />
</a>
<a target="_blank" href="https://twitter.com/rocardogc/">
  <img
    id="twitter"
    style="margin:5px; width: 140px; height: 140px"
    src="/imagenes/twitter.jpg"
    alt="facebook imagen"
  />
</a>

<a
  target="_blank"
  href="https://www.linkedin.com/in/rocco-gironacci-993b84249/"
>
  <img
    id="linkedin"
    style="margin:5px; width: 140px; height: 140px"
    src="/imagenes/linkedin.jpg"
    alt="facebook imagen"
  />
</a>
<a
  href="mailto:roccogironacci@gmail.com?subject=Te contacto a travez de la app para registrar gastos- "
><img
    id="gmail"
    style="margin:5px; width: 140px; height: 140px"
    src="/imagenes/gmail.jpg"
    alt="gmail"
  /></a>
  </div>