<div class="titulo-inicio">
  <h1>Proyecto Final Educacion IT</h1>
</div>
<div class="home">
  <button type="button" class="btn btn-info"> <a class="dropdown-item" href="/about">Proyecto Segunda parte</a></button>
</div>